.git
.gitignore
.env
.env.*
.dockerignore
Dockerfile
docker-compose.yml
vendor/
node_modules/
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
storage/app/public/**
bootstrap/cache/**
.idea/
.vscode/
*.log
*.md
tests/
phpunit.xml
