{
    email aswarthedoctor@gmail.com
}

antarkanmaa.my.id {
    root * /home/antarkanma/Desktop/Antarkanma.my.id/public
    
    php_fastcgi unix//run/php/php8.4-fpm.sock

    # Static file handling
    file_server
    encode gzip
    
    # Logging
    log {
        output stdout
        format json
        level INFO
    }
}
